<div class="card card-custom gutter-b">
    <!--begin::Header-->
    <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">Attendance time list
            </span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
        </h3>
        <th class="text-info" style="min-width: 15px">
        </th>   
        
    </div>

    <form class="row">
   
        <div style="min-width: 15px"></div>
        <div class="col-2">
          <div class="input-group">
            <label class="mr-3 mb-0 d-none d-md-block">De:</label>
            <input class="form-control" type="date" 
                   name="start" [(ngModel)]="start" >
           </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <label class="mr-3 mb-0 d-none d-md-block">A:</label>
              <input class="form-control" type="date"
                     name="end" [(ngModel)]="end" >
              </div>
          </div>
          <a (click)="getheureselondate()"  class="btn btn-icon btn-light btn-hover-primary btn-sm"title="supprimer">
            <span class="svg-icon svg-icon-md svg-icon-danger">
                <!--begin::Svg Icon | path:/metronic/theme/html/demo7/dist/assets/media/svg/icons/General/Trash.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <path d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z"/>
                </svg>
                <!--end::Svg Icon-->
            </span>
        </a>
        
  <div class="col-2">
            <div class="input-group">
                </div></div>
                
            <div class="col-md-4 my-2 my-md-0" *ngIf="isAdmin()||isSuperAdmin()">
                <div class="d-flex align-items-center">
                    <label class="mr-3 mb-0 d-none d-md-block">Type:</label>
                    <select (change)="selectheurepres($event)" class="form-control" id="mat" >
                        
                        <option *ngFor="let user of users" [value]="user.matriculeRH">{{ user.prenom }} {{ user.nom }}</option>

                    </select>
                </div>
            </div>

      </form>
      
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-0">
  
        <!--begin::Table-->
        <div class="table-responsive">
            
            <table *ngIf='sapheurepresences.length>0; else nodata'  class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_3">
                <thead>
                    <tr class="text-left text-uppercase">
                        <th class="text-info" style="min-width: 15px"></th>
                        <th class="text-info" style="min-width: 50px">Matricule </th>
                        <th class="text-info" style="min-width: 15px">Name</th>
                        <th class="text-info" style="min-width: 15px">Number</th>
                        <th class="text-info" style="min-width: 15px">Cost Cent</th>
                       
                        <th class="text-info" style="min-width: 15px">Date</th>
                        <th class="text-info" style="min-width: 15px"></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let sapheurepresence of sapheurepresences let index=index " >
                        <td class="pl-0 py-7">
                            <label >
                                {{ index+1 }}
                            </label>
                        </td>
                        
                        <td class="pl-0">
                            <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"></a>
                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{sapheurepresence.matriculeRH}} </span>
                        </td>
                        <td class="pl-0">
                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{sapheurepresence.name}} </span>
                        </td>
                        
                        <td>
                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{sapheurepresence.numb}}</span>
                            
                        </td>
                        <td>
                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{sapheurepresence.costCent}}</span>
                            
                        </td>
                        <td>
                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{sapheurepresence.date}}</span>
                            
                        </td>
 
                    </tr>
                
            </tbody>
            </table>

            <ng-template #nodata>
                <h1>no attendance
                </h1>
            </ng-template>
        </div>
        <!--end::Table-->
        <style>
            .my-pagination /deep/ .ngx-pagination .current {
              background: #4f1c9b;
            justify-content: center;
            }
          </style>
          <div style="text-align: center" >
       
             
    </div>
    <!--end::Body-->
</div>




<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modifier Profile </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <!--begin::Wizard Form-->
     <form class="form" [formGroup]=""  id="kt_form">
        <div class="row justify-content-center">
            <div class="col-xl-9">
                <!--begin::Wizard Step 1-->
                <div class="my-5 step" data-wizard-type="step-content" data-wizard-state="current">
                    
                    
                    <!--begin::Group-->
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> Nom</label>
                     
                    </div>
                    <!--end::Group-->
                    <!--begin::Group-->
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label"> prénom</label>
                       

                    </div>
                    <!--end::Group-->
                     <!--begin::Group-->
                     <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
                        <div class="col-lg-9 col-xl-9">
                            <div class="input-group input-group-solid input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="la la-at"></i>
                                    </span>
                                </div>
                                <input type="email" class="form-control form-control-solid form-control-lg" name="email"
                                 />
                                
                            </div>
                        </div>
                    </div>
                    <!--end::Group-->
                    
                     
                    <!--begin::Group-->
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Contact Phone</label>
                        <div class="col-lg-9 col-xl-9">
                          
        
                        </div>
                    </div>
                    <!--end::Group-->
                   
                    <!--begin::Group-->
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">date_de_naissance</label>
                      
                    </div>
                    <!--end::Group-->
                     <!--begin::Group-->
                     <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Adresse</label>
                      
                    </div>
         
                     
                    </div> 

                    <div class="form-group row">
                        <label class="col-3 col-form-label"> role</label>
                        <div class="col-lg-9 col-xl-9">
                            <div class="radio mx-5">
                                <label class="radio radio-success">
                                <input type="radio" 
                                name="role" 
                                [value]=""
                                formControlName="role"
                              
                                >
                                <span></span></label>
                                
                            </div>
                        </div>
                    </div>
                     <!--end::Group-->
                        <!--begin::Group-->
              
                       <!--end::Group-->

                   
                    
                      
                </div>
                 <!--end::Group-->
                
               
            </div>
        
    </form>
    <!--end::Wizard Form-->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark">Update</button>
    </div>
  </ng-template>