<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Tutorial Details</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Tutorials List</a></li>
          <li class="breadcrumb-item active">Tutorial Details</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Tutorial</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
                title="Collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="form-group">
              <label>Title:</label>
              {{ tutorial.title }}
            </div>
            <div class="form-group">
              <label>Description:</label>
              {{ tutorial.description }}
            </div>
            <div class="form-group">
              <label>Status:</label>
              {{ tutorial.published ? 'Published' : 'Pending' }}
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer clearfix">
            <div class="row">
              <div class="col-12">
                <a routerLink="/tutorials" class="btn btn-secondary mr-2">Back</a>
                <a routerLink="/tutorials/edit/{{ tutorial.id }}" class="btn btn-warning">Edit</a>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
