<div class="content-header" >
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          
          <li class="breadcrumb-item active"><a href="home">Dashboard</a> </li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{taillebooking}}</h3>

            <p>SAP Booking</p>
          </div>
          <div class="icon">
            <i class="fa fa-database"></i>
          </div>
          <a href="home/viewsap" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{tailleheure}}</h3>

            <p>Attendance time</p>
          </div>
          <div class="icon">
            <i class="fas fa-stopwatch"></i>
          </div>
          <a href="home/viewheurepresence" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{taillecompensations}}</h3>

            <p>Compensation time</p>
          </div>
          <div class="icon">
            <i class="fas fa-stopwatch"></i>
          </div>
          <a href="home/viewheurecompensation" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <!-- ./col -->
      
      <!-- ./col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- Main row -->
</section>
<!-- /.content -->
