<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Tutorials List</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Tutorials List</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Tutorials</h3>

            <div class="card-tools">
              <div class="input-group">
                <input
                  type="text"
                  name="table_search"
                  class="form-control float-right"
                  placeholder="Search by title"
                  [(ngModel)]="title"
                />

                <div class="input-group-append">
                  <button class="btn btn-default" (click)="searchByTitle()">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="row">
              <div class="col-12">
                <button
                  class="btn btn-danger m-2 float-right"
                  (click)="deleteAllTutorials()"
                >
                  Remove All
                </button>
                <a
                  routerLink="/tutorials/add"
                  class="btn btn-success mt-2 float-right"
                  >Add</a
                >
              </div>
            </div>

            <table class="table table-hover text-wrap">
              <thead>
                <tr>
                  <th style="width: 1%">#</th>
                  <th style="width: 20%">Title</th>
                  <th>Description</th>
                  <th style="width: 10%">Status</th>
                  <th style="width: 20%"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tutorial of tutorials">
                  <td>{{ tutorial.id }}</td>
                  <td>{{ tutorial.title }}</td>
                  <td>{{ tutorial.description }}</td>
                  <td>{{ tutorial.published ? 'Published' : 'Pending' }}</td>
                  <td>
                    <a
                      routerLink="/tutorials/details/{{ tutorial.id }}"
                      class="btn btn-primary btn-sm mr-2"
                    >
                      <i class="fas fa-folder"></i>
                      View
                    </a>
                    <a
                      routerLink="/tutorials/edit/{{ tutorial.id }}"
                      class="btn btn-info btn-sm mr-2"
                    >
                      <i class="fas fa-pencil-alt"></i>
                      Edit
                    </a>
                    <button
                      (click)="deleteTutorial(tutorial.id)"
                      class="btn btn-danger btn-sm mr-2"
                    >
                      <i class="fas fa-trash"></i>
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->

          <div class="card-footer clearfix">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <select
                    class="form-control custom-select"
                    style="width: auto"
                    [(ngModel)]="pageSize"
                    (ngModelChange)="refreshList()"
                  >
                    <option *ngFor="let size of [10, 20, 30]" [ngValue]="size">
                      {{ size }} Items
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-6">
                <ngb-pagination
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="collectionSize"
                  (pageChange)="refreshList()"
                  class="pagination"
                  [maxSize]="5"
                ></ngb-pagination>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
